@import "@/styles/variables";

.container {
  display: none;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
}

@media only screen and (max-width: $breakpoint-desktop-s) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    position: fixed;
    width: 100%;
  }

  .lightContainer {
    box-shadow: 0rem 0rem 0.6rem 0.1rem rgb(0 0 0 / 0.1);
    background-color: white;
  }

  .darkContainer {
    box-shadow: 0rem 0rem 0.6rem 0.1rem rgb(255 255 255 / 0.1);
    background-color: #1a1b1e;
  }
}
