@import "@/styles/variables";

.mainContainer {
  min-height: 100vh;
  padding: 0;
}

.container {
  max-width: $breakpoint-desktop-l;
  align-self: center;
  padding: 0;
}

.darkModeToggler {
  font-size: 20px;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.welcome {
  height: 42rem;
  background-color: #edf9f1;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem 0;
  width: 100%;
}

@media only screen and (min-width: $breakpoint-tablet) {
  .welcome {
    width: 50%;
    height: 100vh;
  }
}
