@import "@/styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  flex-wrap: wrap;
  transform: translateX(-17px);
  border-top: 1px solid var(--mantine-color-gray-2);
}

@media (min-width: $breakpoint-desktop-s) {
  .container {
    display: none;
  }
}
