.createRequestButton {
  &:hover {
    background-color: var(--mantine-color-gray-2);
  }
}

.notificationsButtonWrapper {
  position: relative;

  &__badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
}

.footer {
  margin-top: auto;
}
