.arrowParent {
  display: flex;
  align-items: center;
}

.horizontalLine {
  border-top: 2px solid
    var(--horizontal-line-border-top-color, rgb(166, 167, 171));
  width: 1.1rem;
  margin: 1.1rem 0;
}

.editHorizontalMode {
  --horizontal-line-border-top-color: rgb(51, 154, 240);
  transition: border-color 0.4s ease;
}

.arrowRight {
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 1.2rem solid
    var(--arrow-right-border-left-color, rgb(166, 167, 171));
}

.editArrowMode {
  --arrow-right-border-left-color: rgb(51, 154, 240);
  transition: border-color 0.4s ease;
}

.drag-over {
  border: 2px solid red !important;
}
