$breakpoint-tablet: 768px;

.auth {
  width: 100vw;
}
.welcome {
  width: 50vw;
  height: 100vh;
  background-color: #edf9f1;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  padding-top: 15vh;

  .logo {
    font-size: 80px;
    height: 90px;
  }

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}
