@import "@/styles/variables";

.notification {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.signin {
  display: flex;
  flex-direction: column;
  padding: 15vh clamp(2rem, 5vw, 5rem);
  width: 100%;
  height: 42rem;
  align-items: center;
  justify-content: center;

  .form,
  .provider {
    width: 100%;

    .google {
      font-size: 25px;
      color: #db4437;
    }

    .facebook {
      font-size: 25px;
      color: #4267b2;
    }

    .github {
      font-size: 25px;
      color: var(--mantine-color-dark-3);

      &__darkMode {
        color: var(--mantine-color-dark-0);
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .signin {
    width: 50%;
    height: 100vh;
  }
}
