.notification {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.signin {
  height: 100vh;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
  padding-top: 15vh;
  padding: 15vh 2rem;
  width: 100%;
  margin: 0 auto;

  .form {
    width: 100%;
  }

  .provider {
    width: 100%;
  }

  @media (min-width: 800px) {
    .signin {
      width: 50vw;
    }
  }
  @media (min-width: 500px) {
    .signin {
      padding: 15vh 5rem;
    }
  }
}
