@import "@/styles/variables";

.input {
  width: 100%;
  @media (min-width: $breakpoint-mobile) {
    width: auto;
  }
}

.lightColor {
  background-color: var(--mantine-color-green-1);
}

.darkColor {
  background-color: var(--mantine-color-dark-4);
}
