@import "@/styles/variables";

%input-shared {
  width: 100%;
}

.searchInput {
  @extend %input-shared;
}

.statusDropdown {
  @extend %input-shared;
}

.dateDropdown {
  @extend %input-shared;
}

.filter {
  flex-grow: 1;
}

@media (min-width: $breakpoint-mobile) {
  .searchInput {
    max-width: 250px;
  }

  .statusDropdown {
    max-width: 150px;
    margin-left: 1rem;
  }

  .dateDropdown {
    max-width: 150px;
  }
}
