// Colors
$color-primary: #4ac776;
$color-secondary: #3e79a7;
$color-white: #fff;
$color-light: #ededee;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-text: #4d4d50;
$color-text-dark: #2a2a2c;

// utils
$color-border: #c8c8c9;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-s: 992px;
$breakpoint-desktop-m: 1200px;
$breakpoint-desktop-l: 1400px;

// Z-Index
$z-index-base: 0;
$above: 1;

$z-index-divider-text: $above + $z-index-base;
$z-index-dropdown: $above + $z-index-divider-text;
$z-index-fixed-navigation: $above + $z-index-dropdown;
$z-index-navigation-popup: $above + $z-index-fixed-navigation;
$z-index-modal-backdrop: $above + $z-index-navigation-popup;
$z-index-modal: $above + $z-index-modal-backdrop;
$z-index-popover: $above + $z-index-modal;
